.login{
    min-height:100vh;
    background-image: url("/static/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.right{
    height:500px;
    max-width:420px;
    background-color:#ffffff99;
    box-shadow: 0px 0px 30px -3px black;
}


label, a, span{
    font-weight:650;
}


@media (max-width:992px){
    h1 {
        font-size: 36px;
    }
}


@media (max-width:576px){
    label, a, span{
        font-size:12px;
    }

    .right{
        height: 440px;
    }
}